<a href="https://colab.research.google.com/github/Kulnoorbajwa/CSCI-167--Deep-learning-/blob/main/Copy_of_c164s26_Chap2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Exception ignored in: <module 'collections.abc' from '/usr/lib/python3.12/collections/abc.py'>
Traceback (most recent call last):
  File "<string>", line 0, in <module>
KeyboardInterrupt:
<frozen importlib._bootstrap>:488: RuntimeWarning: Cython module failed to patch module with custom type

In [ ]:
NEON_CON_PRODUCT = 'postgresql://student_ro:Class226Fall25@ep-lively-lake-afr3qkpy-pooler.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
NEON_CON_SHIPS = 'postgresql://student_ro:Class226Fall25@ep-lively-lake-afr3qkpy-pooler.c-2.us-west-2.aws.neon.tech/ships?sslmode=require&channel_binding=require'
NEON_CON_IRIS = 'postgresql://student_ro:Class226Fall25@ep-lively-lake-afr3qkpy-pooler.c-2.us-west-2.aws.neon.tech/iris_db?sslmode=require&channel_binding=require'

In [ ]:
query = """
select sepal_length,	sepal_width,	petal_length,	petal_width,	species from iris;
"""
iris_df = pd.read_sql_query(query, NEON_CON_IRIS)

iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa